body {
     font-family: 'Arial', sans-serif;
     margin: 0;
     padding: 0;
     background-color: #f4f4f4;
}

header {
     width: 100%;
     margin: 0 auto;
     background-color: #333;
     color: #fff;
     text-align: center;
     padding: 10px;
     font-size: 16px;
}

/* ADD WRAPPER CONTAINE */
.container {
     width: 100%;
     margin: 0 auto;
     max-width: 1200px;
}


#promotions-container{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

main {
     padding: 20px;
}


.promotion-card {
     width: 100%; /* RESPONSIVE SIZE OF CARD */
     max-width: 350px; /* FIX MAX WIDTH */
     border: 1px solid #ddd;
     border-radius: 8px;
     margin-bottom: 20px;
     overflow: hidden;
     background-color: #fff;
     margin: 20px;
}

.promotion-image {
     width: 100%;
     height: auto;
}

.promotion-details {
     padding: 20px;
}

.promotion-title {
     font-size: 24px;
     font-weight: bold;
     margin-bottom: 10px;
     text-align: center;
}

.promotion-description {
     margin-bottom: 10px;
     text-align: left;
     font-size: 14px;
}

.promotion-buttons {
     display: flex;
     justify-content: center;
     text-align: center;
     margin-bottom: 20px;
     margin-right: 0;
     margin-left: 0;
}


/* ADDED NEW CLASSES FRO FILTER BUTTONS */
.filter_btn {
     padding: 10px 20px;
     background-color: #fff;
     color: black;
     text-decoration: none;
     border-radius: 5px 0 0 5px;
     display: inline-block;
     cursor: pointer;
     font-size: 16px;
}

/* LAST ITEM WILL HAVE SOME DIFFERENT BORDER RADIUS */
.filter_btn:nth-last-child(1) {
     padding: 10px 20px;
     background-color: #fff;
     color: black;
     text-decoration: none;
     border-radius: 0 5px 5px 0;
     display: inline-block;
     cursor: pointer;
     font-size: 16px;
}

/* ADDED CLASS FOR ACTIVE BUTTON */
.filter_btn_active {
     background-color: #555;
     color: #fff;
} 

/* LAST BUTTON WILL HAVE SOME DIFFERENT COLOR IF ACTIVE */
.filter_btn_active:nth-last-child(1) {
     background-color: #555;
     color: #fff;
} 

.btn {
     padding: 10px 20px;
     background-color: #fff;
     color: black;
     text-decoration: none;
     border-radius: 5px;
     margin-right: 10px;
     display: inline-block;
     cursor: pointer;
     font-size: 16px;
}

.active {
     background-color: #555;
     color: #fff;
} 

.terms-btn {
     background-color: #fff;
     border: 2px solid #000;
}

.join-btn {
     background-color: #000;
     color: #fff;
}